themeName = 'snow'
activeColor = #06c
borderColor = transparent
// backgroundColor = var(--bgcolor-overlay)
inactiveColor = #444
shadowColor = #ddd
textColor = #444

@import './core'
@import './base'
@import './snow/*'

.ql-snow
  a
    color: activeColor

.ql-container.ql-snow
  // border: 1px solid borderColor
  border: none
